<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta') %>
    <link rel="stylesheet" href="/styles/form.css" />
    <link rel="stylesheet" href="/styles/visa-form.css" />
    <link rel="stylesheet" href="/styles/status-decision.css" />
    <title>
      Process | Application <%= application.getApplicationNumber() %>
    </title>
  </head>
  <body>
    <div class="app">
      <%- include('../partials/header') %>
      <main>
        <h2>
          Process <%= application.getStatus() %> Application <%=
          application.getApplicationNumber() %>
        </h2>
        <p class="space">
          <a href="/reviewer/queue?stage=<%= prev %>" class="btn-accept"
            >Return to Queue</a
          >
        </p>
        <form class="visa-form">
          <%- include('../partials/form-sections/personal') %> <%-
          include('../partials/form-sections/travel') %> <%-
          include('../partials/form-sections/work') %> <% if (isB1) { %> <%-
          include('../partials/form-sections/business') %> <% } %> <% if (isB2)
          { %> <%- include('../partials/form-sections/tourist') %> <% } %> <% if
          (isF1) { %> <%- include('../partials/form-sections/student') %> <% }
          %> <%- include('../partials/form-sections/security') %>
        </form>

        <%- include('../partials/form-sections/disabled-notes') %>

        <form class="decision-form" method="POST">
          <div class="decision-group">
            <label for="reviewerID">Reviewer ID</label>
            <input type="number" id="reviewerID" name="reviewerID" required />
          </div>
          <div class="decision-group">
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes" rows="4" required></textarea>
          </div>
          <div class="decision-actions">
            <button
              type="submit"
              formaction="/reviewer/reject/<%= application.getApplicationNumber() %>"
              class="btn-reject"
            >
              Reject
            </button>
            <button
              type="submit"
              formaction="/reviewer/approve/<%= application.getApplicationNumber() %>"
              class="btn-accept"
            >
              Accept
            </button>
          </div>
        </form>
      </main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
