<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <title>Error | <%= message %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <h2>Application Error</h2>
        <p class="error-message"><%= message %></p>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
