<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <title>Status | Application #<%= id %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <h2>Status of Application #<%= id %></h2>
        <p><%= status %></p>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
