<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/meta') %>
    <title>Status | Application #<%= id %></title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <h2>Status of Application #<%= id %></h2>
      <p><%= status %></p>
    </main>
  </body>
</html>
