<fieldset>
  <legend>Business Purpose</legend>
  <div class="form-row">
    <div class="form-group">
      <label for="businessPhone">Business Phone</label>
      <input id="businessPhone" name="businessPhone" value="<%=
      application.getForm().getSections().business.phone %>" required <%=
      editable === false ? 'disabled' : '' %> />
    </div>
    <div class="form-group">
      <label for="businessCity">Business City</label>
      <input id="businessCity" name="businessCity" value="<%=
      application.getForm().getSections().business.city %>" required <%=
      editable === false ? 'disabled' : '' %> />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="businessAddress">Business Address</label>
      <input id="businessAddress" name="businessAddress" value="<%=
      application.getForm().getSections().business.address %>" required <%=
      editable === false ? 'disabled' : '' %> />
    </div>
    <div class="form-group">
      <label for="businessPurpose">Purpose</label>
      <input id="businessPurpose" name="businessPurpose" value="<%=
      application.getForm().getSections().business.purpose %>" required <%=
      editable === false ? 'disabled' : '' %> />
    </div>
  </div>
</fieldset>
